body , ul , li , p {
    margin:0;
    padding:0;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
}

img{
    border:0;
    vertical-align:bottom;
}

.template-container {
    padding: 0 6px 6px;
    margin-top: 6px;
    border: 1px solid #dcdcdc;
    background: #f2f6f9;
    width:50%;
    float:left;
}

.layout{

}

.show-module {
    border: 1px dotted #ccc;
    text-align: center;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    cursor: pointer;
}

.show-module i{
    width:30px;
    height:30px;
    display:inline-block;
    background:url('../images/add.png') no-repeat center;
    margin-top:8px;
}

.add-module-box{
    float:left;
    width:48%;
}

.add-module-box .box-content {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 14px;
    border: 1px solid #e7e7eb;
    background: #f4f5f9;
    margin: 40px 0 0 36px;
}

.add-module-box .arrow {
    width: 14px;
    height: 24px;
    position: absolute;
    left: -13px;
    top: 5px;
    background: url('../images/icon.png') no-repeat -108px 0;
}

.add-module-box .box-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
}

.add-module-box .box-module {
    line-height: 32px;
    margin-bottom: 14px;
    clear: both;
    zoom: 1;
    color: #5c5c5c;
    overflow: hidden;
    border-bottom:2px solid #e0e0e0;
}

.add-module-box .box-module-item {
    width: 40%;
    margin-right: 8%;
    display:inline-block;
}

.add-module-box .box-module-item input[type=radio]{
    float:left;
    margin-top:10px;
}

.add-module-box .box-module-item .item-part{
    margin-left: 20px;
}

.add-module-box .box-module .specific-box-item{
    margin-bottom:15px;
}

.add-module-box .box-module .select-product{
    display:inline-block;
}

.add-module-box .box-module .specific-box-item input[type=text]{
    width:90%;
    height:25px;
}

.file-upload {
    width: 80px;
    background: #d43834;
    height:34px;
    line-height:34px;
    text-align:center;
    color:#fff;
}

.upload-btn{
    width: 80px;
    height: 34px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.box-button{
    text-align:center;
}

.redBtn {
    width: 120px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    background: #d43834;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border:none;
}

.grayBtn {
    width: 120px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    color: #7a7a7b;
    font-size: 14px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

#first-addmodule{
    display:none;
}

#second-addmodule{
    display:none;
}